<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>2013-10-07</string>
		<key>title</key>
		<string>我是标题</string>
		<key>target</key>
		<string>20131007001</string>
		<key>detail</key>
		<string>我是内容我是内容我是内容我是内容我是内容我是内容</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2013-10-07</string>
		<key>title</key>
		<string>我是标题2</string>
		<key>target</key>
		<string>20131007002</string>
		<key>detail</key>
		<string>我是内容我是内容我是内容我是内容我是内容我是内容2</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2013-10-07</string>
		<key>title</key>
		<string>我是标题3</string>
		<key>target</key>
		<string>20131007003</string>
		<key>detail</key>
		<string>我是内容我是内容我是内容我是内容我是内容我是内容3</string>
	</dict>
</array>
</plist>
